<div class="wrapper">
    <div class="fs-3 my-5 hello">
        <lib-welcome [name]="'Lorenzo!'"></lib-welcome>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <p class="fs-4 text-center pb-4 lh-base">Seleziona un piano per la sede di <b>Napoli</b></p>
        <div class=" mb-5 w-75">
            <lib-button class="fs-5 fw-bold w-100 py-4" [class]="'primary'" [textButton]="'P 12'"></lib-button>
        </div>
        <div class=" w-75">

            <lib-button class="fs-5 fw-bold w-100 py-4" [class]="'primary'" [textButton]="'P 11'"></lib-button>
        </div>

    </div>
</div>
