<div class="wrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmitLogin()">
        <lib-input [textLabel]="'Email*'" [placeholder]="'Inserisci la tua email'"
             [for]="'email'" [parentFormGroup]="form" [controlName]="'email'"
            [name]="'email'" [type]="'email'"></lib-input>
        <lib-input [textLabel]="'Password*'" [placeholder]="'Inserisci la tua password'"
         [for]="'password'" [parentFormGroup]="form"
        [controlName]="'password'" [name]="'password'" [type]="type" [autocomplete]="'current-password'"></lib-input>
        <div>
         <lib-button [typeButton]="'submit'" [textButton]="'Accedi'"></lib-button>
        </div>
    </form>
</div>